<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863346724834-8djct4j6pv9cf1d3vklra0oe8ak01ln4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863346724834-8djct4j6pv9cf1d3vklra0oe8ak01ln4</string>
	<key>API_KEY</key>
	<string>AIzaSyBhv9KPGTKFsSZ5lBFc8BUt1Z9sKHUMRBw</string>
	<key>GCM_SENDER_ID</key>
	<string>863346724834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mnl.personalPortfolio</string>
	<key>PROJECT_ID</key>
	<string>personal-portfolio-70dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-portfolio-70dcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863346724834:ios:fa6543b7fdc53f8289f3bb</string>
</dict>
</plist>